/* 共通 */
h1{
  margin: 0;
  padding: 0;
}
h2{
  margin: 0;
}
h3{
  margin: 0;
}
p{
  margin: 0;
  padding: 0;
}
img{
  /* vertical-align: bottom; */
  padding: 0;
  margin: 0;
}
body{
  margin: 0;
}

/* 白文字の共通はbbb */
.bbb{
  color: white;
}

/* オレンジ文字したライン */
.sen{
background:linear-gradient(transparent 70%, orange 70% );
}

/* ヘッダー */
header{
display: flex;
justify-content: space-between;
}
header p{
  font-size: 8px;
}

.tatekankei{
  width: 80px;
  height: 70px;
  background: rgb(199, 46, 46)
  ;
  text-align: center;

}
.tatekankei img{
  vertical-align: bottom;
}
.tatekankei a{
  color: white;
  text-decoration: none;
}

/* ヒーロー */
.hero{
  background-image: url(../main.jpg);
}
.pp{
  font-size: 24px;
  font-weight: 600;
}
.hero p{
  padding: 32px;
 text-align: center;
}
.hero img{
  display: block;
  margin: 0 auto;
}



/* メイン　１ */

.mainf{
background:rgb(243, 183, 73);
}
.mainf p{
text-align: center;
padding: 32px;
}
.mainf a{
  width: 400px;height: 32px;
  padding: 32px;
  background: red;
  display: block; 
  margin: 0 auto;
  text-align: center;
 border-radius: 48px;
 text-decoration: none;
 color: white;
 font-weight: 600;
}


/* メイン２ */

.mains{
  background:url(../introbottom.jpg) repeat-x bottom white;
 background-size: 100%;

}
.mains h2{
  position: relative;
  padding: 64px;
  text-align: center;
}
.mains h2::before{
  content: "";
  position: absolute;
  top: 32px;;
  left:24px;
  width:25px;
  height:25px;
  border-top: 4px solid orange;
  border-left:4px solid orange;
}
.mains h2::after{

  content: "";
  position: absolute;
  bottom: 32px;;
  right:24px;
  width:25px;
  height:25px;
  border-bottom: 4px solid orange;
  border-right:4px solid orange;
}


.mains p{
  color:gray;
}
.mains p{
  text-align: center;
  padding: 32px;
  }

  .about p{
    width:80px;
    height:80px;
    border-radius:50%;
    background: #ebb94d;
    margin: 0 auto;
    text-align: center;
    line-height:80px;
    color:white;

  }
  .about{
    position:relative;
    top:-40px;
  }



  /* メイン３ */
  .maint{
background:rgb(249, 235, 209);
  }
  .maint h2{
text-align: center;
padding: 64px 32px;
font-weight:600;
font-size: 20px;
position: relative;
  }
  .maint h2::before{
content: "";
position: absolute;
top:25px;
left:25px;
width:25px;
height:25px;
border-top: 4px solid orange;
border-left:4px solid orange;
  }
  .maint h2::after{
content: "";
position: absolute;
bottom:25px;
right:25px;
width:25px;
height:25px;
border-bottom: 4px solid orange;
border-right:4px solid orange;
  }
  .up{
text-align: center;
padding-top:0px;
padding-bottom: 32px;
  }
  .down{
    text-align: center;
    padding: 8px;
  }
  .gazoutachi{
    display: flex;

  }
  .gazoutachi div{
    flex:1;
  }
  .maint img{
    padding-top: 8px;
    display: block;
    margin: 0 auto;
  }
.gazoutachi p{
text-align: center;
font-size: 8px;
padding-top: 8px;
padding-bottom: 32px;
}
.container{
  width: calc(100% - 32px);
  border: solid 2px orange;
  margin: 0 auto;
}
.kukuri{
  background: white;
}


/* メイン４ */
/* こっからはメインの番号をaからにしてる。
:firstのfとforthのfが被ってしまったため。 */

.maina{
  background: url(../pcsp.jpg)  no-repeat ;
  background-size: cover;
  height: 550px;

}
.maina h2{
  color:white;
  text-align: center;
  padding-top: 64px;

}
.maina p{
  padding: 8px;
  text-align: center;
  
}
.dai{
  align-items: center;
  width: calc(100% - 130px);
   line-height: 0px;
  background: #ebb94d ;
  border-radius: 8px;
  margin: 0 auto;
  font-size: 14px;
}
.naka{
  font-size: small;
  
}
.container1{
  margin: 8px auto;
 
  width: calc(100% - 100px);
 background: white;
height:64px ;
 padding: 8px;
 border-radius: 8px;
 
}

.container1:nth-child(3){
margin-bottom: 32px;
}
  
.b{
  text-align: center;
  background: linear-gradient(45deg, red 0 50%, blue 50% 100%);;
  /* background: blue; */
  /* background: linear-gradient(1turn, red, 20%, blue);; */
  /* background: linear-gradient(45deg, blue, red);; */
  /* background:linear-gradient(0deg, blue, green 40%, red); */
  padding: 24px;
  color:white;
  font-size: 12px;
}

.bb{
  color: #ebb94d;
}




/* メインc */
.mainc{

}
.mainc h2{
  padding: 32px;
  text-align: center;
}
.mainc p {
  text-align: center;
  padding: 16px;
}
.imags{
  display: flex;
  justify-content: center;
}
.mainc div{
  gap:16px
}


/* メインd　他のプログラミング */
.maind{
background: rgb(246, 228, 194);

}
.maind h2{
  padding: 32px;
  text-align: center;
  position:relative;
}


.maind h2::before{
  content: "";
position: absolute;
top:25px;
left:25px;
width:25px;
height:25px;
border-top: 4px solid orange;
border-left:4px solid orange;
}
.maind h2::after{
  content: "";
  position: absolute;
  bottom:25px;
  right:25px;
  width:25px;
  height:25px;
  border-bottom: 4px solid orange;
  border-right:4px solid orange;
    }

    .maind div{
      width:calc(100% - 32px);
      margin: 0 auto;
    }
  .maind img{
    height: 150px;
    width: 100%;
    object-fit: cover;
   object-position: center;
  }
  
.maind h3{
  text-align: center;
  color:#ebb94d;
}
.maind p{
  padding: 12px;
}
.maind h4{
  text-align: center;
  margin: 0;
  padding: 8px;
}
.ppp{
  text-align: center;
  font-size: 11px;
  
}






/* メインE */
.maine{
background:url(../teacherbgsp.jpg) no-repeat ;
background-size: 100%;
color: white;
height: 1200px;
/* height: 1200px; なんか下に余白がうまくつけれないから、ハイトを指定して余白を作ってる。 */
}
.maine h3{
  text-align: center;
 padding: 32px;
}
.pppp{
  text-align: center;
  padding-bottom: 86px;
}
.container2{
  width: calc(100% - 32px);
  border: solid 2px white;
  margin: 0 auto;
 
  
}
.mannaka{
  text-align: center;
margin-top: -64px;
}
.namae{
  text-align: center;
  padding: 8px;
}
.bun{
  padding-bottom: 16px;
  width: calc(100% - 42px);
  margin: 0 auto;
}
.boxes div:nth-child(2){
  margin-top: 100px;
}
.boxes div:nth-child(3){
  margin-top: 100px;
}


.keisuke{
  position: relative;
  top: -80px;
  text-align: center;
}
.keisuke img{

  width: 120px;
  height: 120px;
  border-radius: 50%;

}


/* 
.kao img{

  width:120px;
  height:120px;
  border-radius:50%;

  line-height:100px;
  
}
.kao{
  position:relative;
  top:130px;
  text-align: center;

} */


/* 一つはうまくいったけど、画像自体についてるパディングがあるのかうまくいかない。
あと
一つ目の構造と同じで
2個目3個目ができてないから、うまくいってない。

コンテイナーのうちに入れた状態から合わせにいった方がいいかもしれない。
↓
結局コンテイナーに入れた。 */


/* キューアンドえー */

.qa{
background: #ebb94d;
}
.aq{
padding-top: 32px;}

.qa p{
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  color:#ebb94d;
  background: white;
margin: 0 auto;

}


.qa h3{
  text-align: center;
padding: 32px;
position: relative;

}
.qa h3::before{
content: "";
width: 25px;
height: 25px;
position: absolute;
top:10px ;
left: 32px;
border-top: 4px solid white;
border-left: 4px solid white;

}
.qa h3::after{
content: "";
width: 25px;
height: 25px;
position: absolute;
bottom:10px ;
right: 32px;
border-bottom: 4px solid white;
border-right: 4px solid white;

}
.qa::after{
  content: " ";
  height: 0;
  position: absolute;
  width: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid  ;
  border-bottom: 25px solid transparent;
  border-top-color: #ebb94d;
  left: 50%;
  margin-left: -25px;

}







/* メイン　ぽっしぼー */
.possible{

}
.possible h2{
padding: 32px;
text-align: center;
}
.possible h3{
  padding: 16px;
  text-align: center;
}
.act{
  text-align: center;
}
.possible img{
  width: 200px;
  height: 200px;
  border:#ebb94d solid 2px;
}
.taketachi{
  padding: 16px;
  display: flex;
  gap:8px;
}
.kaisha{
  text-decoration: underline;
}
.naname{
font-style: italic;
color: gray;
}



/* 学べる内容ゾーン */
.learn{
  background: url(../classbgsp.jpg) no-repeat ;
  background-size: 100%;
  height: 950px;
}
.learn h2,h3{
  text-align: center;
  padding: 32px;
  color: white;
  font-weight: 400;
}
.learn h3{
  margin-top:-56px;
}
.container3{
  width: calc(100% - 32px);
  border: solid 2px blue;
  border-radius: 8px;
margin: 0 auto;
margin-bottom: 16px;
box-sizing: border-box;
overflow: hidden


}


/* .container3:nth-child(2){
  margin-bottom: 32px;
} */
.list li{

  text-align: center;
  list-style: none;
  padding: 10px;
  background: white;
  box-sizing: border-box;
  margin-left: -40px;

}

.list li:first-child {
  font-size: normal;
  background: blue;
  color: white;
  /* border-top:1px solid rgb(226, 224, 224); */
  border-bottom:1px solid rgb(228, 226, 226);
}

.list li + li {
  font-size: small;
  border-bottom:1px solid rgb(226, 225, 225);
}


.blue{
text-align: center;
padding: 16px;
background: rgb(25, 25, 129);
color: white;
}




/* 受光の流れ */
.flow{
 
}
.flow h2{
  font-size: 20px;
padding: 32px;
text-align: center;

}
.lastlast{
  margin-bottom: 16px;
}

.accordion-title{
  border: 2px white solid;
}



.accordion-title img {
vertical-align: middle;

}
.accordion-content{
  background:rgb(249, 225, 181) ;
}

.accordion-container .accordion-title {
  position: relative;
  margin: 0;
  padding: 0.625em 0.625em 0.625em 2em;
  background-color: rgb(249, 225, 181);
  font-size: 1em;
  font-weight: normal;
  color: black;
  cursor: pointer;
}
.accordion-container .accordion-title:hover
 { 
 text-decoration: underline;
}

.accordion-container .accordion-title::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  width: 15px;
  height: 2px;
  /*縦線に*/
  transform: rotate(90deg);
  background:  white;
  transition: all .3s ease-in-out;
}

.accordion-container .accordion-title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  /*横線*/
  width: 15px;
  height: 2px;
  background: #fff;
  transition: all .2s ease-in-out;
}

.accordion-container .accordion-title.open::before {
  transform: rotate(180deg);
}

.accordion-container .accordion-title.open::after {
  opacity: 0;
}

.accordion-content {
  display: none;
  padding-left: 2.3125em;
  /* border: 4px white solid; */
}

/* CSS for CodePen */
.accordion-container {
  width: calc(100% - 32px);
  margin: 0 auto;
 
}



/* わいバンコク */
.why{
  background: url(../bangkokbg.jpg) ;
color: white;
}
.why h1{
  padding: 32px;
  text-align: center;
}
.why h2{
 font-weight: 600;
 font-size: 18px;
padding-bottom: 32px;
}
.container4{
  width: calc(100% - 32px);
  margin: 0 auto;
}


/* 特典 */
.tokuten{
  background: orange
  ;
  height: 540px;
}
.pre{
font-size: 18px;
text-align: center;
padding: 32px;
}
.chiisa{
  text-align: center;
  font-size: 13px;
  padding-bottom: 64px;
}




.maemaemae{
font-size: 20px;
}

.tokurisu{
  width: calc(100% - 32px);
  margin: 0 auto;
  border: 2px solid white;

  /* display: inline-block; */
	/* padding: 1.8em .8em .8em; */
	position: relative;
	text-align: left;


}
.nokke{
  padding: .4em;
	font-size: 1em;
	/* font-weight: 400; */
	position: absolute;

	top: -3em;
	left: 50%;
	transform: translateX(-50%);
  /* transform: translateY(-50%); */
	background: orange;
	/* white-space: nowrap; */

}
.maru{
  width:60px;
  height:60px;
  border-radius:50%;
  background:white;
  margin: 0 auto;
  text-align: center;
  line-height:60px;
  color: #ebb94d;
margin-bottom: 16px;

}
.oomoto{
  display: flex;
}
.points{
width: calc(100% - 70%);
padding: 16px;
padding-top: 48px;

}
.bunnshoutachi{
  padding: 16px;
  padding-top:42px;
  
}
.bunnshoutachi p{
 margin-bottom: 43px;
}
/* .container5{
  width: calc(100% - 80%);
 border: solid 1px red;
 margin: 0 auto;
}
.point{
  display: flex;
  gap: 20px;

} */



/* ヴォランティア */
.volun{
  background: url(../specialdetailsp.jpg) no-repeat;
  background-size: cover;
  color:white;
  text-align: center;
}
.volun h3{
padding: 32px;
}
.volun p{
  padding: 32px;
}
.manen{
  padding: 16px;
  position:relative;
}
.manen h2::before{
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top:10px ;
  left: 32px;
  border-top: 4px solid white;
  border-left: 4px solid white;
  
  }
  .manen h2::after{
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  bottom:10px ;
  right: 32px;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
  
  }




  /* メッセージ */
  .message{
    width: calc(100% - 32px);
    margin: 0 auto;
  }
 
  .message img{
    max-width: 100%;
    /* object-fit: cover; */
    /* display: inline-block; */
  }
  .message h2{
    padding: 40px;
    text-align: center;
    font-size: 18px;
  }
  .message h3{
    padding: 16px;
    text-align: center;
    color:black;
    font-size: 16px;
  }
  .message p{
    padding: 16px;

  }
  .message li{
   list-style:none;
   
  }
  .message ul{
    margin-left: -24px;
  }





  /* フォームセクション */
.form{
text-align: center;
background: orange;
color: black;
}

.siryou{
  padding-top: 32px;

}
.form p{
  padding: 16px;
  padding-bottom: 32px;
}
.deka{
  padding: 32px;
}




/* よくある質問 */
.yokuaru h2{
  padding: 32px;
  text-align: center;
}

.accordion-004 {
  /* max-width: 500px; */
  width: calc(100% - 48px);
  margin: 0 auto;
  margin-bottom: 7px;
  border: 2px solid #d6dde3;
  border-radius: 5px;
}

.accordion-004 summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.5em ;
  color: #333333;
  font-weight: 600;
  cursor: pointer;
}

.accordion-004 summary::-webkit-details-marker {
  display: none;
}

.accordion-004 summary::after {
  transform: translateY(-25%) rotate(45deg);
  width: 7px;
  height: 7px;
  margin-left: 10px;
  border-bottom: 3px solid #333333b3;
  border-right: 3px solid #333333b3;
  content: '';
  transition: transform .3s;
  
}

.accordion-004[open] summary::after {
  transform: rotate(225deg);

}

.accordion-004 p {
  transform: translateY(-10px);
  opacity: 0;
  margin: 0;
  padding: .3em 2em 1.5em;
  color: #333333;
  transition: transform .5s, opacity .5s;
}

.accordion-004[open] p {
  transform: none;
  opacity: 1;
}

.last{
  margin-bottom: 32px;
}
.yokuaru svg{
  color: blue;
}

footer p{
text-align: center;
font-size: 10px;
}
footer{
  padding: 48px;
  background: rgb(225, 222, 222);
}



/* アイコン */

.member{
  position: relative
  ;
}
.member::before{
  content: "";
  position: absolute;
  background-image: url(../peoplew.png);
  top: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top:35px;
  transform: translatex(-100%);
  width: 1.2em;
  height: 1.2em;
}



.computer{
  position: relative;
}
.computer::before{
  content: "";
  position: absolute;
  background-image: url(../computer.png);
  top: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top:36px;
  transform: translatex(-100%);
  width: 1.2em;
  height: 1.2em;
}

.siryou{
  position: relative;

}
.siryou::before{
  content: "";
  position: absolute;
  background-image: url(../siryou.png);
  top: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top:37px;
  transform: translatex(-100%);
  width: 1.2em;
  height: 1.2em;
}

.icondayo {
    position: relative;
  }
  
  .icondayo::before {
    /* 基本的に変更しないプロパティ */  
    content: '';
    position: absolute;
    top: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  
    /* アイコンとテキストの間隔を調整するプロパティ */
    /* left: 150px; */
  top:37px;
    /* アイコンの上下位置を調整するプロパティ */
    /* transform: translateY(500%); */
    transform: translatex(-100%);
  
    /* アイコンのサイズを調整するプロパティ */
    width: 1.2em;
    height: 1.2em;
  
    /* 表示させるアイコンのパスを指定 */
    background-image: url(../message.png);
  }
/* 
  .iconhaichi {
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
  } */



  次やること。

  上から手直し。






  ・SNSタグをつける

  。これをギットハブに載せる

  S N Sに投稿
  パソコン版も作る

  ポートフォリオ作る

  仕事とる。